/*******************************************************************************
 * Layout
 */

body {
    min-width: 400px;
}

#footer {
    clear: both;
}

#container {
    width: 100%;
    height: 100%;
    min-width: 400px;
}

#control_panel {
    float: left;
    width: 199px;
    height: 100%;
    font-size: 85%;
    /* overflow: auto; */
    /* resize:both; */
    border-right: 1px solid #000;
    color: #000;
}

#logo_box {
    height: 80px;
    font-size: large;
    text-align: center;
    font-variant: small-caps;
    /* font-style: italic; */
/*
    border-width: 1px;
    border-style: solid;
    border-color: #000;
*/
}

#output_container {
    margin-left: 200px;
}

#graph_view {
    width: 100%;
    height: 79.9%;
}

#data_view {
    height: 20%;
    overflow: auto;
    /* resize: vertical; */
    border-top: 1px solid #000;
}

#data_table {
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    border-collapse: collapse;
    table-layout: fixed;
    color: #000;
}

#data_table th {
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    background: #ddd;
    overflow: hidden; 
    font-weight: bold;
    font-size: 85%;

    /* font-style: italic; */
}

#data_table td {
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    overflow: hidden;
    font-size: 85%;
}

#add_contig_id {
    width: 80px;
}

#edge_threshold {
    width: 40px;
}

#horiz_scale {
    width: 40px;
}

.margin_box {
    margin: 5px;
}

/*******************************************************************************
 * Appearance
 */

body {
    margin: 0;
    padding: 0;
    background-color:#fff;
}

#header, #footer {
    font-size: large;
    text-align: center;
    padding: 0.3em 0;
    background-color: #ddd;
}

#header {
    // border-bottom: 1px solid #000;
}

#control_panel {
    text-align: justify;
    background-color: #ddd;
}

#graph_view {
    text-align: justify;
    background-color: #fff;
}

#data_view {
    background-color: #fff;
/*
    border-width: 1px;
    border-color: #000;
    border-style: solid;
*/
}
